{% extends 'base.html.twig' %}

{% block title %}ToDoList index{% endblock %}

{% block body %}
<div class="container py-5">
    <h1 class="text-center">{{ website }}</h1>
    <table class="table">
        <thead class="thead-light">
        <tr class="justify-content-between text-center">
                <th>Id</th>
                <th>Libelle</th>
                <th>IsDone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody class="justify-content-between text-center mx-auto">
        {% for to_do in to_do_list %}
            <tr>
                <td>{{ to_do.id }}</td>
                <td>{{ to_do.libelle }}</td>
                <td>{{ to_do.isDone ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('to_do_list_show', {'id': to_do.id}) }}">show</a>
                    <a href="{{ path('to_do_list_edit', {'id': to_do.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('to_do_list_new') }}">Create new</a>
</div>
{% endblock %}
